<div class="min-h-full">
	<ca-main-nav></ca-main-nav>

	<main>
		<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
			<!-- Replace with your content -->
			<div class="px-4 py-6 sm:px-0">
				<router-outlet></router-outlet>
			</div>
			<!-- /End replace -->
		</div>
	</main>
</div>

<p-confirmDialog #cd header="Are you sure?" icon="pi pi-refresh">
	<ng-template pTemplate="footer">
		<button
			type="button"
			class="px-4 py-2 border border-gray-400 shadow-sm text-sm font-medium rounded-md text-gray-800 bg-white hover:bg-gray-50 transition"
			(click)="cd.reject()"
		>
			No
		</button>
		<button
			type="button"
			class="px-4 py-2 border border-indigo-800 shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-800 transition"
			(click)="cd.accept()"
		>
			Yes
		</button>
	</ng-template>
</p-confirmDialog>
